.sectionHeader{
    text-align: center;
}

.header{
    color: rgb(5, 133, 3);
    font-size: 25px;
    font-weight: 700;
text-decoration: underline;
}

.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

